/* Base */
*{
    box-sizing: border-box;
}
*:focus{
    outline: none;
}

body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

input{
    height: 2.5rem;
    width: 20rem;
    margin: 1.5rem 2rem;
}


a{
    text-decoration: none;
    color: unset;
}
img{
    margin: 0;
}

/* Main */
.container{
    width: 1020px;
    padding: 0 20px;
    margin: 0 auto;
    background-color: #fcf8e8;
}

/* Header */
header{
    font-family: 'Righteous', cursive;
    height: 80px;
    padding: 0 20px;
    background-color: #ecb390;
}

h1 span{
    font-size: 4rem;
}
.nav-bar li{
    height: 80px;
    border-left: 1px solid #df7861;
}

.nav-bar li:last-child{
    border-right: 1px solid #df7861;
    
}
.nav-bar a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    padding: 10px;
}

/* .nav-bar li:not(:last-child){
    margin-right: 30px;
} */

/* Image Gallery */

.img-gallery img{
    width: 150px;    
    margin: 15px 15px;
}

.img-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(170px , 1fr)) ;
}

/* Meme */

canvas{
    
    border: 1px solid black;
}

/* Control Panel */ 

.button{
    border: 1px solid black;
    margin: 10px;
    padding: 10px 12px;
}

/* Footer */
footer{
    height: 40px;
    padding: 60px;
    background-color: #ecb390;
    font-family: 'Righteous', cursive;
}

/* Helpers */

.border{
    border: 1px solid black;
}

/* Layout Helpers */
.flex{
    display: flex;
}
.grid{
    display: grid;
}
.flex.row{
    flex-direction: row;
}
.flex.column{
    flex-direction: column;
}
.flex.justify-center{
    justify-content: center;
}
.flex.align-center{
    align-items: center;
}
.flex.space-between{
    justify-content: space-between;
}
.clean-list{
    list-style-type: none;
    margin: 0;
}
.pointer:hover{
    cursor: pointer;
}


@media (max-width: 1060px){
    .container{
        width: 800px;
        padding: 0 10px;
    }

    input{
        height: 2rem;
        width: 14rem;
        margin: 1.5rem 2rem;
    }
    .buttons{
        margin: 5px;
    }
    
}

@media (max-width: 800px){
    .container{
        width: 600px;
    }
    .meme-container{
        flex-direction: column;
        width: 500px;
        margin: 0 auto;
        padding: 10px 0;
    }

}

@media (max-width: 620px){
    
    
    .container{

        min-width: 500px;
        padding: 5px 5px ; 
        margin: 0 auto;
    }
    .navbar-container{
        display: none;
    }
    .meme-container{
        margin: 0;
        justify-content: center;
    }
}
