        /* Base */

        * {
            box-sizing: border-box;
        }

        *:focus {
            outline: none;
        }

        body {
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            margin: 0;
            padding: 0;
        }

        h1, h2, h3, h4, h5, h6 {
            margin: 0;
            padding: 0;
        }

        a {
            text-decoration: none;
            color: unset;
        }

        img {
            margin: 0;
        }

        /* Main */

        .container {
            max-width: 1020px;
            padding: 20px;
            margin: 0 auto;
            background-color: #fcf8e8;
        }

        /* Header */

        header {
            font-family: 'Righteous', cursive;
            height: 80px;
            padding: 0 20px;
            min-width: 600px;
            background-color: #ecb390;
        }

        header p {
            display: none;
        }

        header span {
            font-size: 4rem;
        }

        header .menu-btn {
            display: none;
            padding: 5px;
            margin-right: 30px;
        }

        .navbar-container {
            display: flex;
        }

        .nav-bar li {
            height: 80px;
            border-left: 1px solid #df7861;
        }

        .nav-bar li:last-child {
            border-right: 1px solid #df7861;
        }

        .nav-bar a {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 80px;
            width: 80px;
            padding: 10px;
            /* text-decoration: underline #df7861; */
            transition: box-shadow .3s;
        }

        .nav-bar a:hover {
            box-shadow: inset 0 -4px 4px 0 #df7861;
            /* background-color: #df7861; */
            /* text-decoration: none; */
        }
        .nav-bar a:active {
            box-shadow: inset 4px -2px 4px 0 #df7861;
        
        }

        /* Image Gallery */

        .img-gallery {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            gap: 15px;
        }

        .img-gallery img {
            width: 100%;
            transition: .6s;
        }

        .img-gallery img:hover {
            box-shadow: -6px 6px 4px 0 #df7861;
            transform: translate(6px, -6px);
        }

        .keyword {
            margin-left: 25px
        }

        .keyword:hover {
            cursor: pointer;
            color: #7c4133;
        }

        /* Meme */

        .canvas-container {
            margin-right: 10px;
        }

        canvas {
            border: 1px solid black;
        }

        /* Control Panel */

        .control-panel {
            margin-right: 10px;
            padding: 0 20px;
            box-shadow: inset 0 0 6px 0 #65587f;
            user-select: none;
        }

        .buttons {
            grid-template-rows: repeat(7, 65px);
            gap: 7px;
        }

        .first-input {
            grid-row: 1/2;
        }

        .lines {
            display: flex;
            justify-content: space-around;
            grid-row: 2 / 3;
            padding: 0 70px;
        }

        .text-buttons {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: repeat(5, 1fr);
            grid-row: 3/ 5;
            background-color: #f1886722;
        }

        .stikers {
            grid-row: 5 / 7;
            background-color: #f1886722;
        }

        .links {
            grid-row: 7/ -1;
        }

        .button {
            font-size: 1.5rem;
            line-height: 1rem;
            border: 1px solid black;
            width: 45px;
            height: 45px;
            padding: 12px 12px;
            text-align: center;
        }

        .button:hover {
            cursor: pointer;

        }

        .buttons .font-list {
            margin: 14px 18px;
            padding: 10px 12px;
            width: 160px;
            height: 45px;
            grid-column: -4 / -1;
        }

        input[type=text] {
            height: 2.5rem;
            width: 20rem;
            margin: 0.3rem;
        }

        input[type=color] {
            margin-top: 4px;
            padding: 2px 6px;
            height: 30px;
            border: none;
        }

        .colors {
            grid-column: span 2;
            display: grid;
            grid-template-rows: 1fr 2fr;
            grid-template-columns: 1fr 1fr;
        }

        .colors>* {
            justify-self: center
        }

        .links>* {
            margin: 15px;
            width: 33%;
        }

        .round {
            border-radius: 10px;
            box-shadow: inset 0 0 6px 0 #65587f;
            transition: box-shadow .4s;
        }
        .round:hover{
            
            box-shadow: inset -1px -1px 6px 0 #65587f;
        }
        .round:active{
            box-shadow: inset 2px 2px 6px 0 #65587f;
        }

        .stiker {
            height: 70px;
            width: 70px;
        }

        /* Footer */

        footer {
            height: 40px;
            padding: 60px;
            background-color: #ecb390;
            font-family: 'Righteous', cursive;
            font-size: 1.25rem;
            min-width: 600px;
        }

        /* Helpers */

        .border {
            border: 1px solid black;
        }

        /* Layout Helpers */

        .flex {
            display: flex;
        }

        .grid {
            display: grid;
        }

        .flex.row {
            flex-direction: row;
        }

        .flex.column {
            flex-direction: column;
        }

        .flex.justify-center {
            justify-content: center;
        }

        .flex.align-center {
            align-items: center;
        }

        .flex.space-between {
            justify-content: space-between;
        }

        .flex.space-around {
            justify-content: space-around;
        }

        .flex.wrap {
            flex-wrap: wrap;
        }

        .clean-list {
            list-style-type: none;
            margin: 0;
        }

        .pointer:hover {
            cursor: pointer;
        }

        .center-center {
            justify-self: center;
            align-self: center;
        }

        /* MEDIA QUERIES */

        @media (max-width: 920px) {
            .container {
                padding: 0 10px;
            }
            .buttons {
                column-gap: 3px;
            }
            input[type=text] {
                width: 14rem;
            }
            .buttons .font-list {
                width: 100px;
            }
            .button {
                /* width: 35px;
                height: 35px; */
                /* padding: 8px 8px; */
                /* font-size: 1rem;
                line-height: 1rem; */
            }
        }

        @media (max-width: 810px) {
            .container {
                min-width: 600px;
                padding: 0;
            }
            .buttons {
                grid-template-rows: repeat(7, 65px);
                gap: 7px;
            }
            .canvas-container {
                margin: auto;
                width: 100%;
            }
            canvas {
                width: 100%;
            }
            .meme-container {
                flex-direction: column;
            }
            .control-panel {
                margin: auto;
                width: 500px;
            }
            .lines {
                padding: 0 100px;
            }
            .text-buttons {
                padding: 0 60px;
            }
            input[type=text] {
                height: 2.5rem;
                width: 20rem;
                margin: 0.3rem;
            }
            .buttons .font-list {
                width: 170px;
            }
            .links>* {
                margin: 15px;
                width: 33%;
            }
        }

        @media (max-width:510px) {
            .control-panel {
                margin: 0;
                width: 100%;
                box-shadow: none;
            }
            header {
                position: relative;
                
                min-width:100vw;
            }
            .burger .navbar-container {
                display: flex;
            }
            .navbar-container {
                display: none;
                position: absolute;
                right: 0;
                top:0;
                width: 100vw;
                background-color: tomato;
                padding: 0 5px 2px;
            }
            .nav-bar {
                justify-content: space-between;
                background-color: #ecb390e1;
                flex-direction: column;
                padding: 0;
                margin: 0;
                height: 100vh;
            }
            .nav-bar li {
                height: fit-content;
                border: none;
                margin: 6px 4px;
            }
            .nav-bar a {
                font-size: 2rem;
                height: 200px;
                background-color: #ecb390;
                width: 500px;
            }
            header .menu-btn {
                display: inline-block;
            }
        }